<!DOCTYPE html>
<html>
    {{ partial "head.html" }}

    <body>
        {{ partial "header.html" }}

        <div class="w-full ">

            <div class="max-w-[90rem] mx-auto flex flex-row">

                <div class="pl-8 pr-4 w-[20rem]">
                    {{ partial "left-navigation.html" . }}
                </div>
                
                <div class="flex flex-row w-[70rem]">
                    <div class="w-3/4 px-4 prose prose-slate">
                        <header>
                            <p class="font-semibold text-emerald-500">{{ .Params.section }}</p>
                            <h1>{{ .Title }}</h1>
                            <p class="lead">{{ .Description }}</p>
                        </header>

                        <article>
                            {{ block "main" . }}{{ end }}
                        </article>
                    </div>
                    <div class="w-1/4 pl-4 pr-8">
                        <div class="pt-8">
                            <p class="font-semibold">On this article</p>
                        </div>
                    
                    </div>
                </div>
            </div>
            
        </div>
        <!-- <footer>footer</footer> -->
    </body>
</html>
