<div class="block fixed w-[19rem] pl-8 pr-4">
    <div class="py-8">
        <button type="button" class="transition-all border border-slate-300 hover:border-slate-400 rounded-lg px-2 py-2 w-full shadow-sm">
            <div class="flex justify-between text-sm text-slate-400 px-2">
                <div>Quick search</div>
                <div>Cmd + K</div>
            </div>
        </button>
    </div>

    <div>
        <ul>
            <li class="mt-6">
                <h5 class="font-semibold py-3 text-slate-800">Getting started</h5>
                <ul class="text-slate-600 text-sm">
                    <li>
                        <a class="block py-1 pl-4 font-bold text-emerald-500" href="#">Installation</a>
                    </li>
                    <li>
                        <a class="block py-1 pl-4 font-light" href="#">Installation</a>
                    </li>
                </ul>
            </li>

            <li class="mt-6">
                <h5 class="font-semibold py-3 text-slate-800">Getting started</h5>
                <ul class="text-slate-600 text-sm">
                    <li>
                        <a class="block py-1 pl-4" href="#">Installation</a>
                    </li>
                    <li>
                        <a class="block py-1 pl-4" href="#">Installation</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
</div>